.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  scroll-behavior: smooth;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 50px;


}



.App-link {
  color: #61dafb;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A263F;
  padding: 20px;
  color: #fff;


}

.logo {
  margin: 0;
  font-size: 32px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

h1 {
  text-decoration: none !important;
}

/* main styles */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.title {
  margin-top: 0;
  font-size: 36px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #1A263F;
  color: #fff;
}

/* footer styles */
.footer-container {
  background-color: #0a2745;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  font-size: 0.8rem;
}


/* Register styles */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto 0;
  max-width: 600px;
  width: 100%;
}

.register-container h1 {
  font-size: 2.5rem;
  margin-bottom: 11px;
  color: #323232;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #323232;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c5c5c5;
  width: 100%;
  font-size: 1.2rem;
  max-width: 242px;
}

button {
  background-color: #1c3d6e;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #1a3264;
}

.error-message {
  color: red;
  font-size: 1.1rem;
  margin-top: 10px;
}

.success-message {
  color: green;
  font-size: 1.1rem;
  margin-top: 10px;
}

.page {
  padding-top: 1%;
  padding-left: 26%;
  padding-right: 26%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company {
  display: flex;
  flex-direction: row;
}

.page p {
  text-align: left;
  padding-right: 3%;
}

/* home styles */
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

}



.home-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  width: 1518px;
  height: 880px;
  color:darkslategrey;
  background-image: url('./bg70.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.home-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;

  width: 100%;
  font-family: Inter;
  padding-top: 20px;
  background-image: url('./bg78.png');
  background-repeat: no-repeat;
  background-size: cover;

}


#boxDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.box:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.Videodiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #636363;
  height: 850px;
  margin-top: -50px;
  color: white;
}

#video {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-left: 12px;
}

.companyInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: -90px;
  margin-left: -90px;
}

.fotoComp {
  display: flex;
  flex-direction: column;
}

.fotoComp:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.fotoComp h3 {
  background-color: #1c3d6e;
  color: white;
  font-family: "Inter";
  font-size: 20px;
  border-radius: 30px;
  width: 350px;
  text-align: center;
  align-items: center;
  height: 40px;
  padding: 6px;
  margin-left: 30px;

}

.map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quotes {
  display: flex;
  flex-direction: row;
  margin-top: -100px;
  width: 1519px;

}


.pr1 {
  margin-top: 1.5%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #D9DEF0;
  border-radius: 50px;
  margin-bottom: 2%;
}

#fotoPr {
  border-radius: 50px;
}

#eksploroni {
  
  padding-left: 8%;
  padding-top: 30%;
  color: #000942;
  font-size: 35px;
}

.top {
  background-color: #0a2745;
  margin-left: 610px;
  margin-right: 610px;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  border-radius: 20px;
  color: white;
  font-family: 'Inter';
}

#top2 {
  background-color: #0a2745;
  margin-left: 610px;
  margin-right: 610px;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  border-radius: 20px;
  color: white;
  font-family: 'Inter';
  width:360px
}



.pr2 {
  background-color: #D9DEF0;
  border-radius: 50px;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  font-family: 'Inter';
  color: #0a2745;

}


.pr3 {
  background-color: #D9DEF0;
  border-radius: 50px;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  font-family: 'Inter';
  color: #0a2745;
}

#pr4 {
  background-color: #D9DEF0;
  border-radius: 50px;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  font-family: 'Inter';
  color: #0a2745;
}

#pr5 {
  background-color: #D9DEF0;
  border-radius: 50px;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  font-family: 'Inter';
  color: #0a2745;

}
#fotopr{
  background-color: #D9DEF0;
  border-radius: 15%;
}

.sliderdiv{
  background-color: #D9DEF0;
  height: 450px;
}

.partners{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1300px;
}
.par1{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-top: 90px;
  
}

.par2{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-top: 90px;
}

.galeriaHome{
  display: flex;
  flex-direction: row;
  width: 1519px;
  justify-content: space-between;

}

.gallerypics{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left:27px;
  margin-right: 11px;;
}

.gallerypics2{
  display: flex;
  flex-direction: column;

}

div.gallery {
  border: 1px solid #ccc;
  width: 700px;
  margin-bottom: 20px;
}

div.gallery:hover {
  border: 1px solid #777;
  width: 700px;
 
}

div.gallery img {
 padding-top: 14px;
}

div.desc {
  padding: 20px;
  text-align: center;
  width:650px;

}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.galeriah{
  
    font-size: 56px;
    font-weight: 500;
    color: white;
    border-right: 4px solid #000;
    animation: cursor 1s infinite step-end, typing 15s infinite steps(16);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    justify-content: center;
  }
  @keyframes cursor{
    0%, 100%{border-color: transparent;}
    50%{border-color: #000;}
  }
  
  @keyframes typing{
    0%{ width: 0ch;} /*Text is hidden*/
    30%{ width: 23ch;} /*The enitre header will be typed out*/
    70%{ width: 17ch;} /*Text stays visible*/
    90%{ width: 0ch;} /*Text is deleted*/
    100%{ width: 0ch;} /* Text is hidden */
  
}

section{
  position: relative;
  width: 100%;
  height: 360px;
  background: #1a3264;
  overflow: hidden;
  padding-left: 400px;
  margin-top:40px;

}
section .air{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px
}
section .air.air1{
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .air.air2{
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .air.air3{
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
section .air.air4{
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: 1000px; 
  }
}
@keyframes wave2{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: -1000px; 
  }
}

.weatherdiv{
  display: flex;
  flex-direction: row;
  width: 1519px;
  margin-top: 80px;
}
.weathertext{
  display: flex;
  flex-direction: column;
  width:980px;
  margin-left: 10px;
  padding-top: 120px;
  color:darkslategrey;
}


/* Wheel*/

#color {
  background-color: #1a3264;
  width: 90px;
  height: 260px;
  margin-top: 100px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

}

.firstBox {
  padding-top: 4%;
  padding-bottom: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 2%;
  background-color: #D9DEF0;
}

.secondBox {
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 5%;
}

.thirdBox {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;

}

.fourthBox{
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 5%;

}

li {
  background-color: #D9DEF0;
  border-radius: 15%;
  list-style: none;
  padding: 5%;
  padding-left: 4%;
  padding-right: 4%;
  text-decoration: none;
 
}

.secondBox img {
  margin-top: -60%;
  width: 200px;
  height: 200px;
  border-radius: 15%;
}

.secondBox img:hover{
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.fourthBox img {
  margin-top: -60%;
  width: 200px;
  height: 200px;
  border-radius: 15%;
}

.fourthBox img:hover{
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 250px;
  border: 2px solid #333;
  border-radius: 2%;
  margin: 20px auto;
  position: relative;
  background-color: #000942;
  color: rgb(255, 221, 0);


}

.spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: spin 1s infinite linear;
}

.inner-spinner {
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.selected-option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 24px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.wheel {

  width: 310px;
  height: 160px;
  background: rgb(232, 194, 58);
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-color: rgb(232, 194, 58);

}

.wheel:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 60px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-right: 36px solid rgb(232, 194, 58);
  border-bottom: 19px solid transparent;
}

.recFoto{
  background-image: url('./pin.jpg');
background-repeat: no-repeat;
background-size: 1520px 1200px;
margin-top: -30px;


}


/* WelcomeBack Page*/

.welcome-content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter;

}

.welcome-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #2a4d97;

}


.welcome-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  color: #2a4d97;
  background-color: #EFEFEF;
  width: 100%;

}

.mostVisited {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.welcome-Buttons-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.welcome-Buttons-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}



/* Feedback-Page */
.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto 0;
  max-width: 600px;
  width: 100%;
}

.feedback-container h1 {
  font-size: 2.5rem;
  margin-bottom: 11px;
  color: #323232;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}
/*Filter*/

.main-form h3 {
  float: left;
  color:transparent;
  padding: 10px;
  margin-left: -35px;
  margin-top: -70px;
  color: #0a4668;
  font-size: 18px;
  font-weight: 600;
}
.nice-select.form-control span.current {
  float: left;
  width: 100%;
  height: 38px;
  line-height: 25px;
}
.nice-select.form-control {
  width: 100%;
  height: 40px;
}
.main-form {
 
  padding: 35px 35px;
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 70px;
  font-family: 'Inter';
  border-radius: 30px;
  background: #ffffffe8;
  background-image: url('./busi8.jpg');
  background-size: 780px;
  background-repeat: no-repeat;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}

.busfilterContent{
  display: flex;
  flex-direction: row;
  background: #e8e4e4e8;
}
.formdiv1{
  display: flex;
  flex-direction: column;
  text-align: center;
  
}
.formdiv2{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: right;
  margin-left: 800px;
  width:550px;
  height: 450px;
  margin-top: 0px;
  
}

.formdiv2 h3{
  font-family: 'Inter';
  font-size: 23px;
 
}
.form-control {
  border: #c2c4c4 solid 1px;
  padding: 7px 15px;
  border-radius: inherit;
  margin-bottom: 10px;
  color: #494545;
}
.form-control:focus,
.form-control:hover {
  box-shadow: none;
}
.form-control:focus {
  border-color: #c2c4c4 !important;
}

.label1{
  display: flex;
  flex-direction: row;
}

.label2{
  display: flex;
  flex-direction: row;
}
.main-form a {
  background:#eea70f ;
  color: #fff;
  float: left;
  font-size: 15px;
  font-weight: 400;
  border: solid #edb53b 1px;
  padding: 10px 77px;
  margin: 35px 0px 0px 300px;
}
.main-form a:hover {
  background: #0a2745;
  border: solid #0a2745 1px;
}

/*Admin Dashboard*/

.admin-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 233, 233);
}

.admin-content ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:300px;
  height:890px;
  background-color: #243b55;
  margin-top: 0px;
  margin-left: 0px;
}

.admin-content ul li{
color:white;
background-color:#243b55 ;
font-size: 18px;
font-family: 'Inter';
margin-bottom: 70px;
padding-top:1px;
padding-right: 40px;

}

.admin-sq{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 980px;
}

.small{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:150px;
  height:150px;
  background-color: #c5c5c5;
  margin-bottom: 60px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color:#1c3d6e;
  font-family: "Inter";

}

.admin-one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.admin-two{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width:1240px;
  padding-top: 2px;
}

.admin-box{
  display: flex;
  flex-direction: column;
  width:220px;
  height: 220px;
  background-color: #98cfde;
  color:rgb(47, 47, 47);
  border-radius: 30px;
}

.admin-three{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  width:1240px;
}


#CardDetails{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 3%;
  text-align: center;
  color: #0a2745;
}

/*Bus Lines*/

.lines{

  background-image: url('./blu.jpg');
  background-repeat: no-repeat;
  background-size: 1550px;
  height: 1200px;
  


}

.blines{
  display: flex;
  flex-direction: column;
}
/*weather*/

.weathermain{
  background-image:url('./sky.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  
}
.weather-container{
  width: 620px;
  height:700px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 50px;
  border-radius: 12px;
  background: linear-gradient(109.6deg, rgb(94, 148, 198) 11.3%, rgb(19, 47, 136) 91.1%);
  /*background-image: linear-gradient(180deg,#130754 0%,#3b2f80 100%);*/
}

.top-bar{
  display: flex;
  justify-content: center;
  gap:14px;
  padding-top: 60px;
}

.top-bar input{
  display: flex;
  width: 370px;
  height: 68px;
  background:#ebfffc ;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 40px;
  color:#626262;
  font-size: 23px;
  font-weight: 400;

}

.search-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: #ebfffc;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 12px;

}

.weather-image{
margin-top: 29px;
display: flex;
justify-content: center;

}

.weather-temp{
  display: flex;
  justify-content: center;
  color:white;
  font-size: 90px;
  font-weight: 400;
}

.weather-location{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 60px;
  font-weight: 400;
}

.data-container{
  margin-top: 50px;
  color:white;
  display: flex;
  justify-content: center;
}

.element{
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap:12px;
}

.data{
  font-size: 34px;
  font-weight: 400;
}

.humidityText{
  font-size: 20px;
  font-weight: 400;
}

.icon{
  margin-top: 10px;
}