.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  scroll-behavior: smooth;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 50px;


}



.App-link {
  color: #61dafb;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A263F;
  padding: 20px;
  color: #fff;


}

.logo {
  margin: 0;
  font-size: 32px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

h1 {
  text-decoration: none !important;
}

/* main styles */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.title {
  margin-top: 0;
  font-size: 36px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #1A263F;
  color: #fff;
}

/* footer styles */
.footer-container {
  background-color: #0a2745;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  font-size: 0.8rem;
}


/* Register styles */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto 0;
  max-width: 600px;
  width: 100%;
}

.register-container h1 {
  font-size: 2.5rem;
  margin-bottom: 11px;
  color: #323232;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #323232;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c5c5c5;
  width: 100%;
  font-size: 1.2rem;
  max-width: 242px;
}

button {
  background-color: #1c3d6e;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #1a3264;
}

.error-message {
  color: red;
  font-size: 1.1rem;
  margin-top: 10px;
}

.success-message {
  color: green;
  font-size: 1.1rem;
  margin-top: 10px;
}

.page {
  padding-top: 1%;
  padding-left: 26%;
  padding-right: 26%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company {
  display: flex;
  flex-direction: row;
}

.page p {
  text-align: left;
  padding-right: 3%;
}

/* home styles */
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.home-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;



}

.home-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 100%;
  font-family: Inter;
  padding-top: 20px;
  margin-top: 60px;
  background-image: url('./bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

#boxDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.box:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.Videodiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#video {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-left: 12px;
}

.companyInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: -90px;
  margin-left: -90px;
}

.fotoComp {
  display: flex;
  flex-direction: column;
}

.fotoComp h3 {
  background-color: #1c3d6e;
  color: white;
  font-family: "Inter";
  font-size: 20px;
  border-radius: 30px;
  width: 350px;
  text-align: center;
  align-items: center;
  height: 40px;
  padding: 6px;
  margin-left: 30px;

}

.map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quotes {
  display: flex;
  flex-direction: row;

}
/* Wheel*/

#color {
  background-color: #1a3264;
  width: 90px;
  height: 260px;
  margin-top: 100px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

}

.firstBox {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 5%;
}

.secondBox {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 5%;
}

.thirdBox {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

li {
  list-style: none;
  border: solid #0a2745;
  border-radius: 5%;
  padding: 5%;
  padding-left: 7%;
  padding-right: 7%;
}

.wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 250px;
  border: 2px solid #333;
  border-radius: 2%;
  margin: 20px auto;
  position: relative;
  background-color: #000942;
  color: rgb(255, 221, 0);
  

}

.spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: spin 1s infinite linear;
}

.inner-spinner {
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.selected-option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 24px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.wheel{
 
    width: 310px;
    height: 160px;
    background: rgb(232, 194, 58);
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-color: rgb(232, 194, 58);
  
}

.wheel:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 60px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-right: 36px solid rgb(232, 194, 58);
  border-bottom: 19px solid transparent;
}

/* WelcomeBack Page*/

.welcome-content{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  
}

.welcome-one{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #2a4d97;
 
}


.welcome-two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  color: #2a4d97;
  background-color: #EFEFEF;
  width: 100%;
  
}
.mostVisited{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.welcome-Buttons-one{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.welcome-Buttons-two{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}



/* Feedback-Page */
.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto 0;
  max-width: 600px;
  width: 100%;
}

.feedback-container h1 {
  font-size: 2.5rem;
  margin-bottom: 11px;
  color: #323232;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}







